:host {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5rem;
  gap: 1rem;
}

p {
  white-space: pre-wrap;
}

.offset-left {
  margin-right: auto;
}

.actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 0.5rem;
}

.cancel-button {
  margin-right: auto;
}

core-button {
  min-width: 6rem;
}
