<!-- Toolbar -->
<div class="toolbar k-toolbar">
  <div class="toolbar-item">
    <kendo-label for="search" text="Search for a place" />
    <kendo-textbox id="search" class="stretch" [(value)]="place" />
  </div>
  <div class="toolbar-item">
    <kendo-label for="city" text="City" />
    <kendo-textbox id="city" class="stretch" [(value)]="city" />
  </div>
  <div class="toolbar-item">
    <kendo-label for="count" text="Count" />
    <kendo-numerictextbox id="count" [format]="'n0'" class="stretch" [(value)]="count" />
  </div>
  <core-button
    [label]="'Search'"
    [color]="'primary'"
    [icon]="searchIcon"
    [disabled]="place() === '' || city() === ''"
    (click)="onSearch()"
  />
</div>

<!-- Places List -->
@if (data().length === 0) {
  <div class="no-data-message">
    <core-icon [icon]="infoSolidIcon" />
    <span>No places found.</span>
  </div>
} @else {
  <app-places-list [mode]="'places'" [places]="data()" />
}

<!-- Loading Spinner -->
@if (loading()) {
  <core-spinner [message]="'Loading places...'" />
}
